body {font-family: Verdana, sans-serif;
background-color: #D3E4CD;
margin:0;
display: flex;
flex-direction: column;
min-height: 100vh;}
nav{
   display:flex;
   width: 100%; 
background-color: #FFB72B;
   height: 8vh;
   margin: 0%;

    }
   
.nav-spacer {
    flex-grow: 10;
}
.nav-section {
    padding: 10px;
    background-color: #FFB72B;
    cursor: pointer;
}
.hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRtwmoTl1LYG01vNpuHdAuAB3efwg4My9UdA&usqp=CAU);
    justify-content:center;
    align-items: center;
    border: 10px;
    background-position: center;
    background-size: cover;
}
.hero-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   }
h1 {
    text-align: center;
}  
.about-me {
    background-color: #FFB72B;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;  
}
.boton-enviar{
    background-color: #FFB72B;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
}
.boton-enviar:hover{
    background-color: white;
    color: #FFB72B;
}
.about-me:hover {
    background-color: white;
    color: #FFB72B;
}
.about-me:active{
    background-color: #FFB72B;
    color: white;
}
  
.color1 {background-color: #AC7D88;}
.color2 {background-color: #8FBDD3;}

article {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.2);
    color: black;
    border: 2px solid #E7FBBE;
    padding: 30px;
    width: 450px;
    height: 300px;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
img{ border-radius: 100px;}
footer {
    background-color: #FFB72B;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;

}

.medida-nombre {
    width: 300px;
}

.medida-mail {
    width: 300px;
}

.medida-mensaje {
    width: 300px;
    
}


    
